
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.App {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;

}

.button {
    background-color: #1e88e5;
    color: #fff;
    transition: box-shadow .2s;
    border: none;
    padding: 16px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    min-width: 150px;
    cursor: pointer;
}

.input {
    padding: 5px 10px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    min-width: 150px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.input-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-label {
    text-align: center;
    margin-bottom: 5px;
}

.cell {
    border: 1px solid rgba(0, 0, 0, .2);

    min-height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 48px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 900;
}

.desk {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 0;
}

.modal-text, .header {
    font-size: 25px;
    font-weight: 900;
}

.header {
    text-align: center;
    margin: 10px;
}

.starter {
    text-align: center;
    font-size: 12px;
}

.control {
    margin-left: 10px;
}


